---

- name: Install various useful packages
  homebrew: name={{item}} state=present
  with_items:
    - python3
    - wget
    - tmux
    - neovim/neovim/neovim
    - reattach-to-user-namespace
    - ssh-copy-id
    - task
    - haskell-stack
    - dockutil
    - zsh
    - terminal-notifier
    - youtube-dl
    - ffmpeg
    - tree
    - diff-so-fancy
    - irssi
    - tidy-html5

- name: Install packages requiring brew-cask
  homebrew_cask: name={{item}} state=present
  with_items:
    - google-chrome
    - google-drive
    - iterm2
    - slack
    - flux
    - firefox
    - spotify
    - sketch
