---

- name: Install various useful packages
  homebrew: name={{item}} state=present
  with_items:
    - python3
    - wget
    - tmux
    - neovim/neovim/neovim
    - reattach-to-user-namespace
    - ssh-copy-id
    - task
    - haskell-stack
    - dockutil

- name: Install tmuxinator
  gem: name={{item}} state=present
  with_items:
    - tmuxinator

- name: Install python neovim support
  pip:
    name={{item}}
    state=present
    extra_args=--user
  with_items:
    - neovim

- name: Install python3 neovim support
  pip:
    name={{item}}
    executable=pip3
    state=present
    extra_args=--user
  with_items:
    - neovim

- name: Install packages requiring brew-cask
  homebrew_cask: name={{item}} state=present
  with_items:
    - google-chrome
    - iterm2
    - slack

# zsh and oh-my-zsh
- name: install zsh
  homebrew: name={{item}} state=present
  with_items:
    - zsh

